.nav {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-top: 20px; }

.nav button {
  background-color: transparent;
  color: #fff;
  font-size: .8em;
  padding: 10px 30px;
  border: 2px solid #fff;
  border-radius: 20px; }

.nav button:hover {
  background-color: #fff;
  color: black;
  box-shadow: inset 0 0 0 3px black;
  transition: .2s ease; }

.nav button:hover span {
  display: none; }

.nav button:hover:before {
  content: "Find out more"; }

.nav button:focus {
  background-color: black;
  color: white;
  box-shadow: inset 0 0 0 3px white; }

.main h1 {
  position: absolute;
  color: #fff;
  font-size: 1em;
  font-family: 'Droid Sans', sans-serif;
  top: 100px;
  left: 40px; }

.bullvsgirl {
  background-image: url(../img/bullvsgirl.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh; }