/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

@import "home";
@import "bull";
@import "girl";
@import "content_module";

@media screen and (min-width: 480px) {
  .bullvsgirl {
    height: 40%; }
  .main h1 {
    font-size: 2em; }
  .nav button {
    font-size: 1.7em; }
  .content-module {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .bullvsgirl {
    height: 60%; }
}

@media screen and (min-width: 850px) {
  .bullvsgirl {
    height: 80%; } }

@media screen and (min-width: 1000px) {
  .bullvsgirl {
    height: 100%; }
  .main h1 {
    font-size: 2.5em; }
  .nav button {
    font-size: 2.1em; } 
}


